 <div class="container header">
  <div>
    <h1>Kalkulačka pro výpočet odvodů pro OSVČ</h1>
    <h3>Pro hlavní činnost</h3>
    <nav>
        <ul class="nav nav-tabs">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link" routerLink="/">Kalkulačka</a></li>
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/history">Historie</a></li>
        </ul>
    </nav>
  </div>
</div> 
<router-outlet></router-outlet>